*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.5;
}

*:before,
*:before {
  display: inline-block;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}
hr {
  border-color: #f0f0f0;
}

// code,
// kbd,
// pre,
// samp {
//   font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
// }

// pre {
//   display: block;
//   font-size: 13px;
//   line-height:1.5;
//   color: #333;
//   word-break: break-all;
//   word-wrap: break-word;
//   background-color: #f5f5f5;
//   border: 1px solid #ccc;
//   border-radius: 4px;
//   overflow: auto;
// }

// code {
//   padding: 2px 4px;
//   font-size: 90%;
//   color: #c7254e;
//   background-color: #f9f2f4;
//   border-radius: 3px;
// }

// kbd {
//   padding: 2px 4px;
//   font-size: 90%;
//   color: #fff;
//   background-color: #333;
//   border-radius: 3px;
// }
