// Header
h1 {
  font-size: $h1-fontsize;
  line-height: 120%;
  margin: ($h1-fontsize / $header-font-size-to-margin-top-radio) 0
    ($h1-fontsize / $header-font-size-to-margin-bottom-radio) 0;
}

h2 {
  font-size: $h2-fontsize;
  line-height: 120%;
  margin: ($h2-fontsize / $header-font-size-to-margin-top-radio) 0
    ($h2-fontsize / $header-font-size-to-margin-bottom-radio) 0;
}

h3 {
  font-size: $h3-fontsize;
  line-height: 120%;
  margin: ($h3-fontsize / $header-font-size-to-margin-top-radio) 0
    ($h3-fontsize / $header-font-size-to-margin-bottom-radio) 0;
}

h4 {
  font-size: $h4-fontsize;
  line-height: 120%;
  margin: ($h4-fontsize / $header-font-size-to-margin-top-radio) 0
    ($h4-fontsize / $header-font-size-to-margin-bottom-radio) 0;
}

h5 {
  font-size: $h5-fontsize;
  line-height: 120%;
  margin: ($h5-fontsize / $header-font-size-to-margin-top-radio) 0
    ($h5-fontsize / $header-font-size-to-margin-bottom-radio) 0;
}

h6 {
  font-size: $h6-fontsize;
  line-height: 120%;
  margin: ($h6-fontsize / 1.5) 0 ($h6-fontsize / 2.5) 0;
}
